#ifndef SECRETS_H
#define SECRETS_H

// Wi-Fi Credentials — JANGAN commit file secrets.h yang terisi ke Git!
const char* WIFI_SSID = "YOUR_WIFI_SSID";
const char* WIFI_PASSWORD = "YOUR_WIFI_PASSWORD";

// Backend Server
const char* MQTT_BROKER_IP = "192.168.1.100";
const int MQTT_BROKER_PORT = 1883;
const char* DEVICE_ID = "esp32_physio_01";
const char* DEVICE_TOKEN = "YOUR_DEVICE_SECRET_TOKEN";

#endif
